.card{
    .card-body {
        font-size: 14px;
        .text-lne-through{
            color: red;
            text-decoration: line-through;
        }
        .color-black{
            color: #000;
        }
        h5{
            margin-bottom: 0;
        }
    }
}

.discout-info{
    color: #fff;
    background-color: #4daf1a;
    border-color: #c3e6cb;
    left: 16px;
    top: 15px 
}