@import './variable.scss';

.card{
    .card-header{
        min-height: 150px;
    }
    .card-body {
        font-size: 12px;
        h5 {
            font-size: 1rem;
        }
        .text-lne-through{
            color: red;
            text-decoration: line-through;
        }
        .color-black{
            color: #000;
        }
        h5{
            margin-bottom: 0;
        }
    }
}

.discout-info{
    color: #fff;
    background-color:$color-green;
    border-radius:$border-radius;
    left: 16px;
    top: 15px 
}