.summary {
        .table{
        td{
            vertical-align: middle;
        }
    }

    .products{
        .image{
            width: 40px;
            height: 40px;
            img{
                width: 100%;
            }
        }
    }
}
